<div class="container-fluid py-3 bg-dark text-white-50">
  <div class="container">
    <div class="col-2xl-5">
      <div class="d-flex flex-column flex-md-row justify-content-between gap-3 w-100">
        
        <div class="d-flex flex-column">
          <p class="text-center text-md-left">
            <a href="../pages/schonbrunn.html" class="text-reset">Palatul Schonbrunn</a>
          </p>
          <p class="text-center text-md-left">
            <a href="../pages/stephansdom.html" class="text-reset">Stephansdom</a>
          </p>
          <p class="text-center text-md-left">
            <a href="../pages/prater.html" class="text-reset">Prater</a>
          </p>
        </div>
        
        <div class="">
          <p class="text-center text-md-left">
            <a href="../pages/music.html" class="text-reset">Muzică clasică</a>
          </p>
        </div>
        
        <div class="">
          <p class="text-center text-md-left mb-0">
            <a href="../pages/cafes.html" class="text-reset">Cafenelele vieneze</a>
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>
