<div class="container-fluid p-0 fixed-top">
  <nav
    class="navbar navbar-expand-xl bg-white navbar-light py-3 py-xl-0 px-xl-4" style="border-style: solid; border-color: #f3f3f3; border-width: 2px; border-top: none; border-right: none; border-left: none;"
  >
    <a href="../index.html" class="navbar-brand ml-xl-3">
      <h1 class="m-0 text-uppercase text-primary">ViennaVibes</h1>
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between px-xl-3"
      id="navbarCollapse"
    >
      <div class="navbar-nav mx-auto py-0">
        <a href="../index.html" class="nav-item nav-link">Acasă</a>
        <a href="../pages/schonbrunn.html" class="nav-item nav-link"
          >Schonbrunn</a
        >
        <a href="../pages/stephansdom.html" class="nav-item nav-link"
          >Stephansdom</a
        >
        <a href="../pages/prater.html" class="nav-item nav-link">Prater</a>
        <a href="../pages/music.html" class="nav-item nav-link">Muzică</a>
        <a href="../pages/cafes.html" class="nav-item nav-link">Cafenelele</a>

        <a
          id="authLink"
          href="../pages/login.html"
          class="nav-item nav-link active"
          >Login</a
        >

        <div
          id="userProfile"
          class="nav-item nav-link d-flex flex-row align-items-center"
          style="gap: 0.5rem"
        >
          <div
            style="
              height: 2.5rem;
              width: 2.5rem;
              border-radius: 50%;
              background-image: url('../img/profile.jpg');
              background-size: cover;
              background-position: center;
            "
          ></div>
          <span style="color: #120f2d">Iarina</span>
        </div>

        <a id="logoutBtn" class="nav-item nav-link active" style="cursor: pointer;">Logout</a>
      </div>
    </div>
  </nav>
</div>

